@font-face {
  font-display: swap;
  font-family: 'Raleway';
  src:
    url(/ono-tebe-nado-2/fonts/Raleway-Regular.woff2) format('woff2'),
    url(/ono-tebe-nado-2/fonts/Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  src:
    url(/ono-tebe-nado-2/fonts/Raleway-Bold.woff2) format('woff2'),
    url(/ono-tebe-nado-2/fonts/Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
